<div id="titlebar">
    <b><div style="float:left; margin-left: 5%;"><img id="logopic" src="../img/wea.jpg"></div><div id="title">Weather Application</div></b>
    <b><i id="baricon" class="fas fa-bars"></i></b>
    <b><div id="developerbtn"> Contact Us </div></b>
    <b><div id="forecastbtn">Forecast</div></b>
    <b><div id="weatherbtn">Weather</div></b>
    <b><div id="homebtn"><i class="fas fa-home"></i>&nbsp Home</div></b>    
</div>

<div id="titlelist">
    <div id="hometitle">
        <i class="fas fa-home"></i>&nbsp Home
    </div>
    <div id="weathertitle">
        Weather
    </div>
    <div id="forecasttitle">
        Forecast
    </div>
    <div id="developertitle">
        Contact Us
    </div>
</div>